@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf7fb;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
